* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --neutral-0 : #FFFFFF;
    --neutral-1 : #F8F8F8;
    --neutral-2 : #343434;
    --neutral-3 : #161616;
    --primary : #DA192A;
}

body{
    background-color: var(--neutral-1);
}

h1 {
    text-transform:uppercase;
    font-size: 80px;
    line-height: 96px;
    letter-spacing: 12px;
    font-family: "Monument", Arial, sans-serif;
}

h2 {
    text-transform:uppercase;
    font-size: 60px;
    line-height: 72px;
    letter-spacing: 12px;
    font-family: "Monument", Arial, sans-serif;
}

h3 {
    text-transform:uppercase;
    font-size: 40px;
    line-height: 60px;
    letter-spacing: 18px;
    text-transform: uppercase;
    font-family: "Monument", Arial, sans-serif;
}

h4 {
    text-transform:uppercase;
    font-size: 30px;
    line-height: 36px;
    letter-spacing: 12px;
    font-family: "Monument", Arial, sans-serif;
}

h5 {
    text-transform:uppercase;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 12px;
    font-family: "Monument", Arial, sans-serif;
}

h6 {
    text-transform:uppercase;
    font-size: 12px;
    line-height: 14px;
    letter-spacing: 6px;
    font-family: "Monument", Arial, sans-serif;
}

p {
    text-transform:uppercase;
    font-size: 16px;
    line-height: 24px;
}

a {
    text-transform:uppercase;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    text-decoration: none;
    outline: none;
}

@font-face {
    font-family: "Monument";
    src: url('./Monument.otf');
}

.header {
    position: fixed;
    top: 0;
    z-index: 10;
    mix-blend-mode: difference;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 2.75em 1.5em;
}

.links-navbar {
    display: flex;
    flex-direction: row;
    gap: 2.5em;
}

.background-image {
    background-image: url(../img/premiere-image.png);
    background-size: cover;
    background-position: center; 
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 0;
}

.landing {
    width: 100%;
    mix-blend-mode: difference;
    color: white;
    text-transform: uppercase;
    padding: 1.5em 2em;
    position: absolute;
    bottom: 0;
    font-family: "Monument", Arial, sans-serif;
}

.background-image-landing-h1 {
    display: none;
}

.specs {
    background-color: var(--neutral-1);
    padding: 7.5em 1.5em;
    display: flex;
    flex-direction: column;
    gap: 3.75em;
    font-family: "Monument", Arial, sans-serif;
}

.primary {
    color: var(--primary);
    text-transform: uppercase;
}

.neutral-2 {
    color: var(--neutral-2);
    text-transform: uppercase;
}

.specs-text {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
}


.premiere-ligne {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.deuxieme-ligne {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.troisieme-ligne {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.specs-text-image {
    display: flex;
    flex-direction: column;
    gap: 3.75em;
}

.specs-title-h1 {
    display: none;
}

.desktop-specs-text {
    display : none;
}

.lignes {
    padding: 7.5em 1.5em;
    background-color: var(--neutral-3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
}

.lignes-text {
    display: flex;
    flex-direction: column;
    gap: 3.375em;
}

.lignes-typo {
    font-family: "Monument", Arial, sans-serif;
}

.neutral-1 {
    color: var(--neutral-1);
}

.button-lignes {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    border: 1px solid var(--neutral-1);
    letter-spacing: 4px;
    font-family: Arial, Helvetica, sans-serif;
}

.lignes-images {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.troisieme-image{
    width: 147px;
    height: 111px;
}

.quatrieme-image {
    width: 145px;
    height: 109px;
}

.desktop-lignes-text {
    display: none;
}

.cockpit {
    padding: 7.5em 1.5em;
    background-color: var(--neutral-0);
    display: flex;
    flex-direction: column;
    gap: 3.75em;
}

.cinquieme-image {
    width: 100%;
}

.image-cockpit {
    display: flex;
    flex-direction: column;
    gap: 1.25em;
    width: fit-content;
}

.text-cockpit {
    display: flex;
    flex-direction: column;
    gap: 3.25em;
}

.button-cockpit{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px 32px;
    border: 1px solid var(--neutral-3);
    letter-spacing: 4px;
}

.neutral-3 {
    color: var(--neutral-3);
}

.desktop-cockpit-title {
    display: none;
}

.footer {
    padding: 5em 1.5em;
    background-color: var(--neutral-3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3em;
    font-family: "Monument", Arial, sans-serif;
}

.logo-footer {
    width: 147px;
    height: 207px;
}

.links-footer {
    display: flex;
    flex-direction: column;
    gap: 2.5em;
    letter-spacing: 8px;
}

.style-link-footer {
    color: var(--neutral-0);
    font-family: "Monument", Arial, sans-serif;

}

.icones-footer {
    display: flex;
    flex-direction: row;
    gap: 1.25em;
}

.copyrights {
    padding-bottom: 5em;
    padding-left: 4em;
    padding-right: 4em;
    color: var(--neutral-0);
    background-color: var(--neutral-3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1.25em;
    letter-spacing: 4px;
    font-family: "Monument", Arial, sans-serif;
}

@media screen and (min-width: 767px) {
    
    .header {
        padding: 2.75em 4em;
    }

    .landing {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        padding: 5.75em 4em;
        letter-spacing: 28px;
        letter-spacing: 40px;
    }

    .background-image-landing-h1 {
        display: inline;
    }

    .background-image-landing-h3 {
        display: none;
    }

    .specs {    
        padding: 5.75em 4em;
    }

    .specs-text-image {
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
    }

    .specs-image {
        width: 558px;
        height: 523px;
    }

    .specs-title-h3 {
        display: none;
    }

    .specs-title-h1 {
        display: block;
        letter-spacing: 40px;
    }

    .specs-text {
        letter-spacing: 40px;

    }

    .mobile-specs-text {
        display: none;
    }

    .desktop-specs-text {
        display: block;
    }

    .desktop-lignes-text {
        display: block;
        letter-spacing: 40px;
    }

    .mobile-lignes-text {
        display: none;
    }

    .lignes {
        padding: 5.75em 4em;
        justify-content: space-between;
        align-items: center;
        flex-direction: row;
    }

    .lignes-text {
        width: 400px;
        gap: 3.75em;
    }

    .button-lignes {
        width: fit-content;
    }

    .lignes-images{
        display: flex;
        flex-direction: row;
        gap: 1.25em;
        justify-content: start;
        width: fit-content;
    }

    .troisieme-image {
        width: 326.67px;
        height: 245px
    }

    .quatrieme-image {
        width: 327.64px;
        height: 245px;
    }

    .cockpit {
        padding: 5.75em 4em;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .cinquieme-image {
        width: 800px;
    }

    .text-cockpit{
        gap:6em;
        text-align: left;
        
    }

    .desktop-cockpit-title {
        display: block;
        letter-spacing: 40px;
    }

    .mobile-cockpit-title {
        display: none;
    }

    .button-cockpit {
        width: fit-content;
    }

    .cockpit-p {
        width: 25em;
    }

    .footer {
        padding : 5em 4em;
        flex-direction: row;
        justify-content: space-between;
    }

    .links-footer {
        flex-direction: row;
        letter-spacing: 8px;
    }

    .copyrights {
        flex-direction: row;
        justify-content: space-between;
    }
}
