* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --neutral-0 : #FFFFFF;
    --neutral-1 : #F8F8F8;
    --neutral-2 : #343434;
    --neutral-3 : #161616;
    --primary : #DA192A;
}

h1 {
    font-size: 80;
    line-height: 96;
    letter-spacing: 40%;
}

h2 {
    font-size: 60;
    line-height: 72;
    letter-spacing: 40%;
}

h3 {
    font-size: 40;
    line-height: 60;
    letter-spacing: 40%;
}

h4 {
    font-size: 30;
    line-height: 36;
    letter-spacing: 40%;
}

h5 {
    font-size: 20;
    line-height: 24;
    letter-spacing: 40%;
    font-family: monument;
}

h6 {
    font-size: 12;
    line-height: 14;
    letter-spacing: 40%;
    font-family: Arial, Helvetica, sans-serif;
}

p button {
    font-size: 16;
    line-height: 24;
    letter-spacing: 40%;
}

@monument {
    font-family: 'monument';
    src: url(asset/fonts/Monument.otf) format('otf');
}
